* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", sans-serif;
}
.supreme-container {
  position: relative;
  overflow: hidden;
}
.section-inner {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
header {
  background-color: white;
}
header .section-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header-nav,
.header-btn {
  display: none;
}
.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  top: 100px;
  left: 5%;
  width: 90%;
  height: 40vh;
  z-index: 10;
  box-shadow: 0 0 600px darkblue;
  border-radius: 15px;
  transform: scaleY(0);
}
.mobile-nav.show {
  transform: scaleY(1);
}
.icon-x {
  display: none;
}
.icon-x.show {
  display: block;
}
.icon-burger {
  display: none;
}
.icon-burger.show {
  display: block;
}
body.mobile-nav-open {
  position: fixed;
}
.mobile-nav ul {
  list-style: none;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.mobile-nav ul li a {
  text-decoration: none;
  font-size: 1.1em;
  color: darkblue;
}

.section1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url("./images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: 100% -30%;
  background-size: contain;
  background-color: lightgray;
  overflow: hidden;
  position: relative;
  min-height: calc(300px + 100vw);
}
.section1 .section-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 80vw;
}
.bg-intro-desktop {
  display: none;
}
.bg-mockups {
  margin: 0 5%;
  width: 90%;
  position: absolute;
  top: -30vw;
}
.section1-header {
  text-align: center;
  margin-bottom: 30px;
}
.section1-text {
  text-align: center;
  line-height: 1.7;
  margin-bottom: 30px;
}

.section2 {
  background-color: hsl(220deg 19% 92%);
  padding: 80px 0;
}
.section2 .section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2-top-text-container {
  max-width: 400px;
  margin-bottom: 50px;
  text-align: center;
}
.section2-header {
  margin-bottom: 20px;
}
.section2-top-text {
  line-height: 1.7;
}
.section2-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2-card {
  max-width: 400px;
  min-height: 220px;
  /* outline: 1px solid pink; */
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.section2-card p {
  line-height: 1.7;
}

.section3 {
  background-color: lightgray;
  padding-top: 50px;
  padding-bottom: 100px;
}
.section3 .section-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3-header {
  margin-bottom: 30px;
}
.article-container {
  max-width: 500px;
  margin-bottom: 30px;
}
.article-container img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.article {
  background-color: white;
  padding: 30px;
}
.author {
  font-size: 0.7rem;
  margin-bottom: 12px;
}
.article-header {
  margin-bottom: 12px;
  transition: all 0.2s ease;
}
.article-header:hover {
  color: limegreen;
  cursor: pointer;
}
.article-body {
  line-height: 1.4;
}

footer {
  background-color: #4f4fda;
  padding-bottom: 80px;
}
footer .section-inner {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}
.footer-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.social-container {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.footer-nav-top,
.footer-nav-bottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer-nav a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: all 0.2s ease;
}
.footer-nav a:hover {
  color: limegreen;
}
.footer-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.copyright {
  color: gray;
}

p {
  color: gray;
}
.header {
  font-weight: 300;
  color: darkblue;
}
h1.header {
  font-size: 2.5rem;
}
h2.header {
  font-size: 2rem;
}
h3.header {
  font-size: 1.3rem;
}
.btn {
  background: linear-gradient(90deg, limegreen, Cyan);
  padding: 1em 2em;
  border: none;
  border-radius: 1.6em;
  color: white;
  font-family: "Public Sans", sans-serif;
  font-family: 18px;
  font-weight: 700;
  font-size: 1rem;
}
.btn:hover {
  background: linear-gradient(90deg, hsl(136, 65%, 71%), hsl(192, 70%, 71%));
  cursor: pointer;
}
.icon-burger:hover,
.icon-x:hover {
  cursor: pointer;
}

.attribution {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.attribution a {
  color: rgb(126, 126, 255);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.attribution a:hover {
  color: limegreen;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .mobile-nav,
  .icon-burger,
  .icon-x,
  .icon-burger.show,
  .icon-x.show,
  .mobile-nav.show {
    display: none;
  }
  header {
    position: relative;
    z-index: 5;
  }
  .header-nav {
    height: 100%;
    width: max(22%, 330px);
    display: flex;
    justify-content: space-between;
  }
  .header-btn {
    display: block;
  }
  .header-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
    position: relative;
  }
  .header-nav a:hover {
    color: darkblue;
  }
  .header-nav a::after {
    content: "";
    width: 0;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, limegreen, Cyan);
    transition: all 0.3s ease-out;
  }
  .header-nav a:hover::after {
    width: 100%;
  }

  .section1 {
    display: block;
    background: url("./images/bg-intro-desktop.svg");
    background-position: top -200px right -600px;
    background-repeat: no-repeat;
    background-color: hsl(220deg 16% 96%);
    overflow: visible;
    position: relative;
    min-height: initial;
  }
  .section1 .section-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .section1-header {
    width: min(500px, 40%);
    text-align: left;
  }
  .section1-text {
    text-align: left;
    width: min(500px, 40%);
  }
  .bg-mockups {
    position: absolute;
    width: 580px;
    top: -120px;
    right: -150px;
    z-index: 4;
  }

  .section2-top-text-container {
    max-width: 700px;
    margin-bottom: 70px;
    text-align: center;
  }

  .section2-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    flex-direction: row;
    gap: 30px;
  }
  .section2-card {
    max-width: initial;
    flex-basis: 450px;
    flex-grow: 0;
    /* outline: 1px solid pink; */
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  .articles-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    gap: 20px;
  }
  .article-container {
    flex-basis: 450px;
    /* flex-grow: 1; */
    max-width: initial;
    margin-bottom: 30px;
  }

  footer .section-inner {
    min-height: 0;
    height: 180px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 60px;
  }
  .footer-left {
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-nav {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
  }
  .footer-nav-top,
  .footer-nav-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-right {
    justify-content: space-between;
    align-items: flex-end;
  }
}
